.pubblicita {
    background-color: #D4E6E8;
}
.pubblicita img {
    width: 100%;
}
.pubblicita h2 {
    font-size: 23px;
    line-height: 28px;
    font-weight: 700;
    font-family: Inter var,Inter,sans-serif;
    color: #333;
    padding-top: 22px;
    padding: 15px;
}
.pubblicita p {
    font-size: 14px;
    font-family: Inter var,Inter,sans-serif;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    padding: 15px;
}
.pubblicita ul {
    font-family: Georgia,Times,Times New Roman,serif;
    color: #333;
    font-size: 16px;
    line-height: 130%;
}
.pubblicita #abbonati {
    text-align: center;
}